@import "bourbon";
@import "neat";
@include font-face("yanone", "../fonts/YanoneKaffeesatz-Light", $file-formats:"ttf");
@include font-face("worthwhile", "../fonts/Worthwhile", $file-formats:"ttf");
@include font-face("rounded", "../fonts/Rounded-Elegance", $file-formats:"ttf");

$space-top-base: 50px;
$base-bg-color: #f9f9f9;
$light-base-color: #eeecec;
$dark-base-color: #e3e3e3;
$color-pop: #ff9703;

$body-bg: #fcfcfc;
$main-bg: darken($body-bg, 2);

@mixin default-btn {
  @include display(inline-block);
  background: $color-pop;
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid darken($color-pop,10);
  border-radius: 15px;
  color: #fff;
  font-family: rounded;

  &:hover {
    cursor: pointer;
    background: darken($color-pop, 6);
  }
} 

@mixin line-animation($elem, $width) {
  #{$elem} {
    position: relative;

    &:before {
      @include transform(scaleX(0));
      @include transition(all, 0.3s ease-in-out);
      content: "";
      position: absolute;
      width: $width;
      height: 3px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      bottom: -60%;
      background-color: #fff;
      visibility: hidden;
    }
  }

  &:hover{
    #{$elem}:before{
      @include transform(scaleX(1));
      visibility: visible;
    }
  }
} 

body {
	margin: 0;
  background: $body-bg;
}
h1{
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.3;
  letter-spacing: 2pt;
}
h2 {
  font-size: 1.5em;
  line-height: 1.3;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2pt;
}
p {
  font-size: 1em;
  line-height: 1.5;
}
p.minify {
  font-size: 0.85em;
  max-width: 600px;
  margin: 0 auto;
}
h1, h2, h4, p, span{
  font-family: rounded;
  margin: 15px 0;
}
span, li {
  font-family: rounded;
	text-transform: uppercase;
	letter-spacing: 2pt;
	line-height: 1.3;
}
ul {
	padding: 0;
  list-style-type: none;
}
hr {
  width: 300px;
  border: 1px solid #000;
  position: relative;
  margin: 40px auto;

  &:after {
    @include transform(translateX(-50%));
    position: absolute;
    top: -5px;
    left: 50%;
    width: 80px;
    content: "";
    border: 5px solid #000;
  }
}

header{
  background-color: $body-bg;

  .box-shadow-menu {
    @include clearfix;
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.8em;
    height: 0.2em;
    background: black;
    box-shadow: 
      0 0.5em 0 0 black,
      0 1em 0 0 black;
  }

  .nav-icon-wrapper {
    padding: 30px 50px;
  }

  .nav-link:hover {
    cursor: pointer
  }

  nav {
    @include transition(all, 0.4s ease);
    opacity: 0;
    position: relative;
    background: $body-bg;
    top: 0;
    left: 0;
    z-index: 999999;
    visibility: hidden;

    ul {
      margin: 0;
      padding: 0 50px 30px;
      position: absolute;
      background: $body-bg;
      width: 100%;
    }

    ul > li {
      margin-bottom: 10px;

      &:last-child{
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #000;
        font-family: rounded;
        font-size: 0.75em;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  nav.open {
    opacity: 1;
    visibility: visible;
  }

  &.sticky {
    background-color: $body-bg;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9997;
  }
}

footer {
  text-align: center;
  padding: $space-top-base 0;
}

#main {
  position: relative;
  margin: 0 40px;
  background: $main-bg;
}

section {
  @include outer-container(100%);
  @include clearfix;
  padding: 0.1px;
  margin: $space-top-base 0;
}
.container {
  padding-top: $space-top-base;
  max-width: 960px;
  margin: 40px auto 0;
  padding: 0 20px;
}

#about {
  background: url(../images/2-1600.jpg) no-repeat center left;
  padding: 100px 0;
  margin: 0;
}

#work{
  margin-top: 0;

  .info-divider {
    background: darken($main-bg, 2);
    text-align: center;
    padding: 50px 0;

    h4 {
      margin: 0;
    }
  }

	ul{
    margin: 0 auto;
		li{
      width: 100%;
      a{
        text-decoration: none;
        h1{
          margin-bottom: 15px;
        }
      }
		}
    li#li1{
      background: url("../images/11.png");
    }
    li#li4{
      background: url("../images/04.png");
    }
    li#preview-srt{
      background: url("../images/srt.jpg") center top;
    }
    li#preview-personal{
      background: url("../images/personal.jpg") center;
    }
    li#preview-childfirst{
      background: url("../images/childfirst.jpg");
    }
    li#preview-olympia{
      @include background(url("../images/olympia.jpg"), url("../images/olympia-bg.jpg"));
      background-repeat: no-repeat, repeat; 
      background-position: center;
    }
	}
}

#contact{
  $padding-btn: 7px 15px;
  text-align: center;

  form {
    @include span-columns(12);
    margin-bottom: $space-top-base;

    .left, .right{
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    .right > textarea {
      height: 140px;
      top: 0;
    }

    input[type="text"], textarea {
      @include fill-parent;
      background-color: lighten($light-base-color, 1);
      border: none;
      padding: 20px 15px;
      margin: 30px auto 0;
      font-family: rounded;
      font-size: em(14);

      &:focus {
        outline: none;
      }
    }
    input[type="submit"]{
      @include default-btn;
      text-align: center;
    }
  }
}

#social {
  background: darken($base-bg-color, 10);
  padding: 50px 0;
  text-align: center;

  ul > li {
    @include display(inline);

    img{
      max-width: 24px;
    }

    &:not(:last-child){
      margin-right: 50px;
    }
  }
}

.project {
  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2pt;
  }

  ul {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000; 

    li {
      font-family: rounded;
      display: inline;
      font-size: 0.75em;
    }
    li:not(:last-child):after {
      content: '.';
      padding: 0 10px;
    }
  } 

  p {
    margin-bottom: 50px;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal-box {
  position: fixed;
  top: 73px;
  bottom: 0;
  left: 40px;
  right: 40px;
  background: rgba(0,0,0,0.5);
  z-index: 99;
  visibility: hidden;

  &.show { 
    overflow: auto;
    visibility: visible;
  }

  &.show > .modal-wrapper { 
    @include transform(translateY(0));
    opacity: 1;
  }

  .modal-wrapper {
    @include transform(translateY(20%));
    @include transition(all .3s);
    opacity: 0;
    position: relative;
    padding: 50px 250px;
    background: white;
  }

  .inner-wrapper {
    margin-top: 100px;
  }

  .modal-close {
    position: absolute;
    right: 2em;
    top: 2em;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    -webkit-transition: .35s;
    transition: .35s;
  }

  .modal-close:before, .modal-close:after {
    content: "";
    display: block;
    background-color: #9e9e9e;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
  }

  .modal-close:before{
    @include transform(rotate(45deg));
  }

  .modal-close:after{
    @include transform(rotate(-45deg));
  }

  img {
    max-width: 100%;
  }
}

.hover-tile-outer {
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 24em;
  $content-padding: $hover-tile-height/2 * 0.6;
  $base-spacing: 1.5em;

  background-position: top;
  background-size: cover;
  background-color: beige;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: 0;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    @include transition(all, 0.4s ease);
    @include line-animation(p, 40%);
    height: $hover-tile-height;
    background: transparentize(#000, 0.4);
    color: white;
    overflow: hidden;
    padding: $content-padding 50px;
    opacity: 0;
    text-align: center;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }

    .view-btn {
      @include default-btn;
    }
  }

  .hover-tile-container:hover {
    opacity: 1;
  }
}