@import "bourbon";
@import "neat";
@include font-face("yanone", "../fonts/YanoneKaffeesatz-Regular", $file-formats:"ttf");
@include font-face("jennifer", "../fonts/Jennifer Lynne Bold", $file-formats:"ttf");
@include font-face("worthwhile", "../fonts/Worthwhile", $file-formats:"ttf");
@include font-face("merriweather", "../fonts/Merriweather-Regular", $file-formats:"ttf");
@include font-face("rounded", "../fonts/Rounded-Elegance", $file-formats:"ttf");

$space-top-base: 50px;
$light-base-color: #eeecec;
$dark-base-color: #e3e3e3;
$color-pop: #ff9703;

@mixin default-btn {
  background: $color-pop;
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid darken($color-pop,10);
  border-radius: 15px;
  color: #fff;
  font-family: rounded;
  display: inline-block;
} 

body{
	margin:0;
  background: $dark-base-color;
}
h1{
  font-family: rounded;
  font-size: 2em;
  line-height: 1.3;
}
h2{
  font-size: 1.5em;
}
h4{
  font-family: yanone;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2pt;
}
p{
  font-size: 1.2em;
  font-family: rounded;
  line-height: 1.5;
}
h1, h2, h4, p, span{
  margin: 15px 0;
}
h2, span, li{
	font-family: yanone;
	text-transform: uppercase;
	letter-spacing: 2pt;
	line-height: 1.3;
}
ul{
	padding: 0;
  list-style-type: none;
}
header{
  @include background-image(url(../images/3-1600.jpg));
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 100px;

  h1 {
    font-family: worthwhile;
    font-size: 5em;
  }
}
footer{
  background: $dark-base-color;
  padding-bottom: $space-top-base;
}
#main{
	margin: 0 auto;
}
section{
  @include outer-container(100%);
  @include clearfix;
  padding: 0.1px;
}
.container {
  padding-top: $space-top-base;
  max-width: 960px;
  margin: 0 auto;
}
#about{
  margin-bottom: $space-top-base;
  p{
    margin-bottom: 30px;
  }
  ul > li{
    display: inline;

    &:not(:last-child){
      margin-right: 20px;
    }
  }
}
#work{
  background: $light-base-color;
	ul{
    max-width: 96rem;
    margin: 0 auto;
		li{
      float: left;
      width: 50%;
      a{
        text-decoration: none;
        h1{
          margin-bottom: 15px;
        }
      }
		}
    li#li1{
      background: url("/images/11.png");
    }
    li#li2{
      background: url("/images/02.png");
    }
    li#li3{
      background: url("/images/03.png");
    }
    li#li4{
      background: url("/images/04.png");
    }
	}
}

#contact{
  $padding-btn: 7px 15px;
  $base-color: darken($dark-base-color, 10);
  background: $base-color;

  form {
    @include span-columns(12);
    margin-bottom: $space-top-base;

    .left, .right{
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    .right > textarea {
      height: 140px;
      top: 0;
    }

    input[type="text"], textarea {
      @include fill-parent;
      background-color: lighten($base-color, 5);
      border: none;
      padding: 20px 15px;
      margin: 30px auto 0;
      font-family: rounded;

      &:focus {
        outline: none;
      }
    }
    input[type="submit"]{
      @include default-btn;
      float: right;
    }
  }
}

.side-image {  
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(6);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(6);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}

.hover-tile-outer {
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 30em;
  $base-spacing: 1.5em;

  background-position: top;
  background-size: cover;
  background-color: beige;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: 0;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    @include transition(all, 0.4s ease);
    height: $hover-tile-height;
    background: transparentize(#000, 0.4);
    color: white;
    overflow: hidden;
    padding: 150px 50px;
    opacity: 0;
    text-align: center;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
      position: relative;

      &:before {
        @include transform(scaleX(0));
        @include transition(all, 0.3s ease-in-out);
        content: "";
        position: absolute;
        width: 40%;
        height: 2px;
        left: 30%;
        bottom: -60%;
        background-color: #fff;
        visibility: hidden;
      }
    }

    h4 {
      margin: 0 0 0.5em 0;
    }

    .view-btn {
      @include default-btn;
    }
  }

  .hover-tile-container:hover {
    opacity: 1;

    p:before {
      @include transform(scaleX(1));
      visibility: visible;
    }
  }
}