@import "bourbon";
@import "neat";
@include font-face("yanone", "../fonts/YanoneKaffeesatz-Regular", $file-formats:"ttf");
@include font-face("jennifer", "../fonts/Jennifer Lynne Bold", $file-formats:"ttf");
@include font-face("loki-cola", "../fonts/Loki Cola", $file-formats:"ttf");
@include font-face("merriweather", "../fonts/Merriweather-Regular", $file-formats:"ttf");

$space-top-base: 40px;

body{
	margin:0;
  background: #fafafa;
}
h1{
  font-family: jennifer;
  font-size: 2em;
  line-height: 1.3;
}
h2{
  font-size: 1.5em;
}
h4{
  font-family: yanone;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2pt;
}
p{
  font-size: 1em;
  font-family: verdana;
  line-height: 1.5;
}
h1, h2, h4, p, span{
  margin: 15px 0;
}
h2, span, li{
	font-family: yanone;
	text-transform: uppercase;
	letter-spacing: 2pt;
	line-height: 1.3;
}
ul{
	padding: 0;
}
header{
  padding-top: 100px;
  text-align: center;
}
footer{
  padding: $space-top-base 0;
  text-align: center;
  background: #e2e2e2;
}
#main{
	margin: 0 auto;
}
section{
  @include outer-container(100%);
  @include clearfix;
  padding: 0.1px;
}
.container {
  @include outer-container(100%);
  $margin-container: $space-top-base auto !default;
  margin: $margin-container;
  width: 500px;
  text-align: center;
}
#work{
	ul{
		@include outer-container(100%);
    margin: 0;
		li{
      float: left;
      width: 50%;
      a{
        text-decoration: none;
        h1{
          margin-bottom: 15px;
        }
      }
		}
    li#li1{
      background: url("/images/11.png");
    }
    li#li2{
      background: url("/images/02.png");
    }
    li#li3{
      background: url("/images/03.png");
    }
    li#li4{
      background: url("/images/04.png");
    }
	}
}
#about{
  $padding-btn: 7px 15px;
  $base-color: #e8d1ae;
  border-top: 1px solid #e8d1ae;
  height: 285px;
  ul{
    li{
      display: inline-block;
      border: 1px solid $base-color;
      padding: $padding-btn;
      margin-bottom: 10px;
      margin-right: 5px;
      font-size: 0.8em;
    }
  }
  .arrow{
    height: 2rem;
    width: 2rem;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
  }
} 

#contact{
  $padding-btn: 7px 15px;
  $base-color: #e8d1ae;
  form{
    @include outer-container();
    input[type="text"]{
      @include span-columns(10);
      float: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #c1c1c1;
      padding: 10px;
      margin: 30px auto 0;
    }
    input[type="text"]:nth-child(3){
      margin-bottom: 50px;
    }
    input[type="submit"]{
      background: transparentize(#fff, 1);
      border: 1px solid $base-color;
      color: $base-color;
      padding: $padding-btn;
    }
  }
}

.side-image {  
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(6);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(6);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}

.hover-tile-outer {
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 30em;
  $base-spacing: 1.5em;

  background-position: top;
  background-size: cover;
  background-color: beige;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: 0;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.4s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.4);
    padding: 100px;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}