html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "yanone";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "jennifer";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jennifer Lynne Bold.ttf") format("truetype"); }

@font-face {
  font-family: "loki-cola";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Loki Cola.ttf") format("truetype"); }

@font-face {
  font-family: "merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype"); }

body {
  margin: 0;
  background: #fafafa; }

h1 {
  font-family: jennifer;
  font-size: 2em;
  line-height: 1.3; }

h2 {
  font-size: 1.5em; }

h4 {
  font-family: yanone;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2pt; }

p {
  font-size: 1em;
  font-family: verdana;
  line-height: 1.5; }

h1, h2, h4, p, span {
  margin: 15px 0; }

h2, span, li {
  font-family: yanone;
  text-transform: uppercase;
  letter-spacing: 2pt;
  line-height: 1.3; }

ul {
  padding: 0; }

header {
  padding-top: 100px;
  text-align: center; }

footer {
  padding: 40px 0;
  text-align: center;
  background: #e2e2e2; }

#main {
  margin: 0 auto; }

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1px; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section::after {
    clear: both;
    content: "";
    display: table; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 40px auto;
  width: 500px;
  text-align: center; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

#work ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0; }
  #work ul::after {
    clear: both;
    content: "";
    display: table; }
  #work ul li {
    float: left;
    width: 50%; }
    #work ul li a {
      text-decoration: none; }
      #work ul li a h1 {
        margin-bottom: 15px; }
  #work ul li#li1 {
    background: url("/images/11.png"); }
  #work ul li#li2 {
    background: url("/images/02.png"); }
  #work ul li#li3 {
    background: url("/images/03.png"); }
  #work ul li#li4 {
    background: url("/images/04.png"); }

#about {
  border-top: 1px solid #e8d1ae;
  height: 285px; }
  #about ul li {
    display: inline-block;
    border: 1px solid #e8d1ae;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 0.8em; }
  #about .arrow {
    height: 2rem;
    width: 2rem;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer; }

#contact form {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #contact form::after {
    clear: both;
    content: "";
    display: table; }
  #contact form input[type="text"] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    float: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding: 10px;
    margin: 30px auto 0; }
    #contact form input[type="text"]:last-child {
      margin-right: 0; }
  #contact form input[type="text"]:nth-child(3) {
    margin-bottom: 50px; }
  #contact form input[type="submit"] {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #e8d1ae;
    color: #e8d1ae;
    padding: 7px 15px; }

.side-image {
  background: #F9F9F9; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), -webkit-linear-gradient(#B5EBEB, #5DAC5D), no-repeat;
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(#B5EBEB, #5DAC5D), no-repeat;
    background-color: #B5EBEB;
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 50%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 50%;
        padding: 4em 4em 8em 4em; } }
    .side-image .side-image-content h1 {
      margin-bottom: 0.9em; }
    .side-image .side-image-content h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase; }
    .side-image .side-image-content p {
      color: #333;
      line-height: 1.5em;
      margin-bottom: 3em; }

.hover-tile-outer {
  background-position: top;
  background-size: cover;
  background-color: beige;
  cursor: pointer;
  height: 30em;
  margin-bottom: 0; }
  @media screen and (min-width: 40em) {
    .hover-tile-outer {
      width: 40%; } }
  .hover-tile-outer .hover-tile-container {
    height: 30em;
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.4s ease-in-out;
    -moz-transition: all, 0.4s ease-in-out;
    transition: all, 0.4s ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: 1.5em; }
  .hover-tile-outer .hover-tile-hidden {
    background: rgba(0, 0, 0, 0.6);
    padding: 100px; }
    .hover-tile-outer .hover-tile-hidden p {
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.5em; }
    .hover-tile-outer .hover-tile-hidden h4 {
      margin: 0 0 0.5em 0; }
