html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 15px; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    section aside:last-child {
      margin-right: 0; }
  section article p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section article p:last-child {
      margin-right: 0; }

#header-branding {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #header-branding::after {
    clear: both;
    content: "";
    display: table; }
